<%- include('partials/header'); %>

<h1>About:</h1>
<br /><br /><br />
<div class="card-body text-dark">
  <div class="row">
    <div class="col-sm-2 border-bottom border-end border-top">
      <h3>What is this?</h3>
    </div>
    <div class="col-sm-10 border-bottom border-top">
      <p>
        A GA SEI project in collaboration between Andrew Huang and Trong Nguyen,
        we set out to design an app to mimic CoinMarketCap in both feel and
        functionality. Essentially both a cryptocurrency tracker and portfolio
        tracker/management system.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 border-bottom border-end border-top">
      <h3>Getting Started:</h3>
    </div>
    <div class="col-sm-10 border-bottom border-top">
      <p>
        Simply sign up(WIP), login(WIP), and start managing your portfolios!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 border-bottom border-end border-top">
      <h3>Tech Used:</h3>
    </div>
    <div class="col-sm-10 border-bottom border-top">
      <p><br>
        HTML/EJS; Basic layout and embedded js<br>
        CSS/booststrap; Styling<br>
        Node.js/Express; Framework<br>
        Cryptocompare; Cryptocurreny API
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 border-bottom border-end border-top">
      <h3>Credits:</h3>
    </div>
    <div class="col-sm-5 border-bottom border-top border-end">
      <h4>Andrew Huang</h4>
      <p>
        Twitter: <a href="" target="#">Link</a><br>
        Github: <a href="https://github.com/andrewhuang192" target="#">Link</a><br>
        LinkedIn: <a href="" target="#">Link</a><br>
      </p>
    </div>
    <div class="col-sm-5 border-bottom border-top">
        <h4>Trong Nguyen</h4>
      <p>
        Twitter: <a href="https://twitter.com/onionsalot" target="#">Link</a><br>
        Github: <a href="https://github.com/onionsalot" target="#">Link</a><br>
        LinkedIn: <a href="https://www.linkedin.com/in/trong-nguyen-93ab85101/" target="#">Link</a><br>
      </p>
    </div>
  </div>
</div>
  
<%- include('partials/footer'); %>
